@model FISAdmin.Models.RolesModel

@{
    ViewData["title"] = "List of " + @ViewData["type"].ToString();
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1><b>@ViewData["type"].ToString()</b></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item active">@ViewData["type"].ToString()</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">@ViewData["title"]</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">        
                <!--Page Contents-->          
                <div class="card" style="width: 100%;">
                    @* <img class="card-img-top" src="..." alt="Card image cap">*@
                    <div class="card-header bg-dark mb-3">
                        <a asp-action="Create" class="btn btn-success float-right">
                            <i class="fa-solid fa-circle-plus"></i>&nbsp Create New
                        </a>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-light" style="width:100%" id="index_table">
                            <thead>
                                <tr>
                                    <th>
                                        @*Tag Helper*@
                                        <label asp-for="Id" class="control-label"></label>
                                    </th>
                                    <th>
                                        @*Tag Helper*@
                                        <label asp-for="Name" class="control-label"></label>
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <!--Calling Index Partial View-->
                            @* <partial name="~/Views/_SubaccountForm/_ViewIndex.cshtml" view-data="ViewData" />*@
                            <tbody>
                                @foreach (var obj in ViewData["role"] as List<RolesModel>)
                                {
                                    <tr>
                                        <td width="20%">
                                            @obj.Id
                                        </td>
                                        <td width="42%">
                                            @obj.Name
                                        </td>
                                        <td>
                                            <div class="w-75 btn-group" role="group">
                                                @*Tag Helper*@
                                                <a asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2"><i class="fa-solid fa-pen"></i>&nbsp Edit</a>
                                                @*<a asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2"><i class="fa-solid fa-trash"></i>&nbsp Delete</a>*@
                                                <!-- Delete Button trigger modal -->
                                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete_@obj.role_no">
                                                    <i class="fa-solid fa-trash"></i>&nbsp Delete
                                                </button>
                                                <!-- Delete Modal -->
                                                <div class="modal fade" id="delete_@obj.role_no" tabindex="-1" role="dialog" aria-labelledby="deletemodal" aria-hidden="true">
                                                    <div class="modal-dialog modal-lg" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header bg-danger">
                                                                <h5 class="modal-title" id="deletemodal"><i class="fa-solid fa-trash"></i>&nbsp Delete for @obj.Name</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                Are you sure to delete @obj.Name ?
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                <form asp-action="Delete">
                                                                    <label asp-for="Id" class="control-label" hidden></label>
                                                                    <input asp-for="Id" class="form-control" value="@obj.Id" hidden />
                                                                    <span asp-validation-for="Id" class="text-danger" hidden></span>
                                                                    <button type="submit" class="btn btn-danger mx-2"><i class="fa-solid fa-trash"></i>&nbsp Delete</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--/. Page Contents-->
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                @ViewData["type"].ToString() - FISAdmin @DateTime.Now.Year
            </div>
            <!-- /.card-footer-->
        </div>
        <!-- /.card -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

@section Scripts {
    <script type="text/JavaScript">

        $(document).ready(function () {

            $('#index_table').DataTable({
                "autoWidth": false,
                "lengthChange": false,
                "pageLength": 10
            });

        });

    </script>
}