@model FISAdmin.Models.SubaccModel

@{
    ViewData["title"] = "Details " + @ViewData["type"].ToString();
    SubaccModel record = ViewData["subacc"] != null ? (SubaccModel)ViewData["subacc"] : null;
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1><b>@ViewData["type"].ToString()</b></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item"><a asp-action="Index" asp-route-type="@ViewData["type"]" asp-route-shortform="@ViewData["shortform"]">@ViewData["type"].ToString()</a></li>
                        <li class="breadcrumb-item active">@ViewData["title"]</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"><i class="fa-solid fa-eye"></i>&nbsp @ViewData["title"]</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <!--Page Contents-->
                <div class="row">
                    <div class="col">
                        <div class="card" style="width: 100%;">
                            @* <img class="card-img-top" src="..." alt="Card image cap">*@
                            <div class="card-header bg-secondary text-white">
                                <h3 class="card-title"><b>@record.Kod - @record.Tajuk</b></h3>
                                <p class="card-text">Last Modified by @record.LastModifiedBy at @record.LastModifiedDate</p>
                            </div>
                            <!--Calling Details Partial View-->
                            <partial name="~/Views/_SubaccountForm/_ViewDetails.cshtml" model="@record" view-data="ViewData" asp-route-type="@ViewData["type"]" asp-route-shortform="@ViewData["shortform"]" />
                        </div>
                    </div>
                </div>
                <div>
                    <a asp-action="Index" asp-route-type="@ViewData["type"]" asp-route-shortform="@ViewData["shortform"]">Back to List</a>
                </div>
                <!--/. Page Contents-->
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                @ViewData["type"].ToString() - FISAdmin @DateTime.Now.Year
            </div>
            <!-- /.card-footer-->
        </div>
        <!-- /.card -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/JavaScript">
    </script>
}


