@model FISAdmin.Models.SubaccModel

@{
    ViewData["title"] = "List of " + @ViewData["type"].ToString();
    //var data = (SubaccModel)ViewData["sm"];
}

<!-- Content Wrapper. Contains page content-->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1><b>@ViewData["type"].ToString()</b></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item active">@ViewData["type"].ToString()</li>
                       
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">@ViewData["title"]</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
            <!--Page Contents-->
            <div class="card" style="width: 100%;">
                @* <img class="card-img-top" src="..." alt="Card image cap">*@
                <div class="card-header bg-dark mb-3">
                    <a asp-action="Create" asp-route-type="@ViewData["type"]" asp-route-shortform="@ViewData["shortform"]" class="btn btn-success float-right">
                        <i class="fa-solid fa-circle-plus"></i>&nbsp Create New
                    </a>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-light" style="width:100%" id="index_table">
                        <thead>
                            <tr>
                                <th>
                                    @*Tag Helper*@
                                    <label asp-for="Kod" class="control-label"></label>
                                </th>
                                <th>
                                    @*Tag Helper*@
                                    <label asp-for="Tajuk" class="control-label"></label>
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <!--Calling Index Partial View-->
                       @* <partial name="~/Views/_SubaccountForm/_ViewIndex.cshtml" view-data="ViewData" />*@
                            <tbody>
                                @foreach (var obj in ViewData["subacc"] as List<SubaccModel>)
                                {
                                    <tr>
                                        <td width="20%">
                                            @obj.Kod
                                        </td>
                                        <td width="42%">
                                            @obj.Tajuk
                                        </td>
                                        <td>
                                            <div class="w-75 btn-group" role="group">
                                                @*Tag Helper*@

                                                <!-- Button Details trigger modal -->
                                                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#detail_@obj.subacc_no">
                                                    <i class="fa-solid fa-eye"></i>&nbsp Details
                                                </button>
                                                <!-- Details Modal -->
                                                <div class="modal fade" id="detail_@obj.subacc_no" tabindex="-1" role="dialog" aria-labelledby="detailmodal" aria-hidden="true">
                                                    <div class="modal-dialog modal-lg" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header bg-secondary">
                                                                <h5 class="modal-title" id="detailmodal"><i class="fa-solid fa-eye"></i>&nbsp Details for @obj.Kod (@obj.Tajuk)</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <ul class="list-group list-group-flush">
                                                                    <li class="list-group-item">
                                                                        <div class="form-group">
                                                                            <label asp-for="Kod" class="control-label" hidden></label>
                                                                            <input asp-for="Kod" class="form-control" value="@obj.Kod" hidden />
                                                                            <span asp-validation-for="Kod" class="text-danger" hidden></span>
                                                                        </div>                                                            
                                                                        <div class="form-group">
                                                                            <label asp-for="Tajuk" class="control-label"></label>
                                                                            <input asp-for="Tajuk" class="form-control" value="@obj.Tajuk" disabled />
                                                                            <span asp-validation-for="Tajuk" class="text-danger" disabled></span>
                                                                        </div>                                                                  
                                                                        <div class="form-group">
                                                                            <label asp-for="CreatedBy" class="control-label"></label>
                                                                            <input asp-for="CreatedBy" class="form-control" value="@obj.CreatedBy" disabled />
                                                                            <span asp-validation-for="CreatedBy" class="text-danger" disabled></span>
                                                                        </div>                                                                 
                                                                        <div class="form-group">
                                                                            <label asp-for="CreatedDate" class="control-label"></label>
                                                                            <input asp-for="CreatedDate" type="datetime" class="form-control" value="@obj.CreatedDate" disabled />
                                                                            <span asp-validation-for="CreatedDate" class="text-danger" disabled></span>
                                                                        </div>                                                                  
                                                                        <div class="form-group">
                                                                            <label asp-for="LastModifiedBy" class="control-label"></label>
                                                                            <input asp-for="LastModifiedBy" class="form-control" value="@obj.LastModifiedBy" disabled />
                                                                            <span asp-validation-for="LastModifiedBy" class="text-danger" disabled></span>
                                                                        </div>                                                                  
                                                                        <div class="form-group">
                                                                            <label asp-for="LastModifiedDate" class="control-label"></label>
                                                                            <input asp-for="LastModifiedDate" type="datetime" class="form-control" value="@obj.LastModifiedDate" disabled />
                                                                            <span asp-validation-for="LastModifiedDate" class="text-danger" disabled></span>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                @* <a asp-action="Details" asp-route-id="@obj.Kod" asp-route-type="@ViewData["type"]" asp-route-shortform="@ViewData["shortform"]" class="btn btn-secondary mx-2"><i class="fa-solid fa-eye"></i>&nbsp Details</a>*@
                                                <a asp-action="Edit" asp-route-id="@obj.Kod" asp-route-type="@ViewData["type"]" asp-route-shortform="@ViewData["shortform"]" class="btn btn-primary mx-2"><i class="fa-solid fa-pen"></i>&nbsp Edit</a>
                                               @* <a asp-action="Delete" asp-route-id="@obj.Kod" asp-route-type="@ViewData["type"]" asp-route-shortform="@ViewData["shortform"]" class="btn btn-danger mx-2"><i class="fa-solid fa-trash"></i>&nbsp Delete</a>*@
                                                <!-- Delete Button trigger modal -->
                                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete_@obj.subacc_no">
                                                    <i class="fa-solid fa-trash"></i>&nbsp Delete
                                                </button>
                                                <!-- Delete Modal -->
                                                <div class="modal fade" id="delete_@obj.subacc_no" tabindex="-1" role="dialog" aria-labelledby="deletemodal" aria-hidden="true">
                                                    <div class="modal-dialog modal-lg" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header bg-danger">
                                                                <h5 class="modal-title" id="deletemodal"><i class="fa-solid fa-trash"></i>&nbsp Delete for @obj.Kod (@obj.Tajuk)</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                Are you sure to delete @obj.Kod (@obj.Tajuk) ?
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                <form asp-action="Delete" asp-route-type="@ViewData["type"]" asp-route-shortform="@ViewData["shortform"]">
                                                                    <label asp-for="Kod" class="control-label" hidden></label>
                                                                    <input asp-for="Kod" class="form-control" value="@obj.Kod" hidden />
                                                                    <span asp-validation-for="Kod" class="text-danger" hidden></span>
                                                                    <button type="submit" class="btn btn-danger mx-2"><i class="fa-solid fa-trash"></i>&nbsp Delete</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                    </table>
                </div>
            </div>
            <!--/. Page Contents-->
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                @ViewData["type"].ToString() - FISAdmin @DateTime.Now.Year
            </div>
            <!-- /.card-footer-->
        </div>
        <!-- /.card -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
@section Scripts {
    <script type="text/JavaScript">

        $(document).ready(function () {

           /// $('#partialZone').load("~/Views/_ViewSubaccIndex.cshtml");

            $('#index_table').DataTable({
                "autowidth": false,
                "lengthChange": false,
                "pageLength": 10
            });

            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })

        });

        $('.select2bs4').change(function () {

            var Kod = $('.select2bs4').find(":selected").text();
            document.getElementByKod("name").innerHTML = Kod;
            console.log('Kod' + Kod);
        });
    </script>
}