@model FISAdmin.Models.BillingPaymentModel
@using Microsoft.AspNetCore.Identity
@using FISAdmin.Areas.Identity.Data
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["title"] = "Create New " + @ViewData["type"].ToString();
}

<form method="post" asp-route-type="@ViewData["type"]" asp-route-shortform="@ViewData["shortform"]">
    <div class="card-header bg-success text-white">
        <h3 class="card-title"><b>Enter Id and Description.</b></h3>

        @if (SignInManager.IsSignedIn(User))
        {
            <p class="card-text">by @UserManager.GetUserAsync(User).Result.Nama (@UserManager.GetUserAsync(User).Result.Nopeng)</p>
        }

    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="form-group">
                    <label asp-for="Id" class="control-label"></label>

                    @if (ViewData["shortform"].ToString() == "PST")
                    {
                        <input asp-for="Id" class="form-control" maxlength="1" minlength="1" required />
                    }
                    @if (ViewData["shortform"].ToString() == "PSC" || ViewData["shortform"].ToString() == "PT" || ViewData["shortform"].ToString() == "BCB"
                    || ViewData["shortform"].ToString() == "BCC" || ViewData["shortform"].ToString() == "BFD" || ViewData["shortform"].ToString() == "BP"
                    || ViewData["shortform"].ToString() == "BSCB" || ViewData["shortform"].ToString() == "BSTB")
                    {
                        <input asp-for="Id" class="form-control" maxlength="2" minlength="2" required />
                    }
                    @if (ViewData["shortform"].ToString() == "PDT" || ViewData["shortform"].ToString() == "BDT")
                    {
                        <input asp-for="Id" class="form-control" maxlength="3" minlength="3" required />
                    }

                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
            </li>
            <li class="list-group-item">
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" maxlength="30" minlength="1" required />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </li>
            <li class="list-group-item">
                <div class="form-group">
                    <label asp-for="CreatedBy" class="control-label" hidden></label>
                    <input asp-for="CreatedBy" class="form-control" value="@UserManager.GetUserAsync(User).Result.Nopeng" hidden />
                    <span asp-validation-for="CreatedBy" class="text-danger" hidden></span>
                </div>
            </li>
            <li class="list-group-item">
                <div class="form-group">
                    <label asp-for="LastModifiedBy" class="control-label" hidden></label>
                    <input asp-for="LastModifiedBy" class="form-control" value="@UserManager.GetUserAsync(User).Result.Nopeng" hidden />
                    <span asp-validation-for="LastModifiedBy" class="text-danger" hidden></span>
                </div>
            </li>
        </ul>
        <hr />
        @*<div asp-validation-summary="All"></div>*@
        <button type="submit" class="btn btn-success" style="width:150px"><i class="fa-solid fa-circle-plus"></i>&nbsp Create</button>
        @*  <a asp-controller="SubaccAktiviti" asp-action="Index" class="btn btn-secondary float-right">Back to Subaccount Aktiviti</a>*@
    </div>
</form>