@model FISAdmin.Models.SubaccModel


@{

    ViewData["title"] = "Index";
   

}


<tbody>
    @foreach (var obj in ViewData["subacc"] as List<SubaccModel>)
    {
        <tr>
            <td width="20%">
                @*Tag Helper*@
                @obj.Kod
            </td>

            <td width="42%">
                @*Tag Helper*@
                @obj.Tajuk
            </td>

            <td>

                <div class="w-75 btn-group" role="group">

                    @*Tag Helper*@
                    <a asp-action="Details" asp-route-id="@obj.Kod" class="btn btn-secondary mx-2"><i class="fa-solid fa-eye"></i>&nbsp Details</a>
                    <a asp-action="Edit" asp-route-id="@obj.Kod" class="btn btn-primary mx-2"><i class="fa-solid fa-pen"></i>&nbsp Edit</a>
                    <a asp-action="Delete" asp-route-id="@obj.Kod" class="btn btn-danger mx-2"><i class="fa-solid fa-trash"></i>&nbsp Delete</a>

                </div>

            </td>
        </tr>
    }
</tbody>
                      